body {
    background-color: #F5F5F5;
}

/*Ãæ°üÐ¼ÖØÐ´*/
.breadcrumb{
    background: transparent;
}

.breadcrumb-item + .breadcrumb-item::before{
    content:">";
}


/*Í¼Æ¬³ß´ç*/
.img-size {
    width: 8rem;
    height: 8rem;
}

.border-color {
     border: solid 1px rgba(0,0,0,0.5);
}

.a-color-hover:hover {
    color: #0AA1ED !important;
}

.kefuf-size {
    width: 0.8rem;
    height: 0.5rem;
}